.form-container {
    min-width: 400px;
    padding: 20px 30px;
  }
  
  .user-creation-form-group {
    margin-bottom: 20px;
  
  }
  
  .user-creation-form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-creation-form-group input[type="text"],
  .user-creation-form-group input[type="email"],
  .user-creation-form-group select {
    min-width: 350px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .user-create-sub-btn:hover {
    background-color: #0056b3;
  }
  
  .user-create-sub-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

  }