.userlist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.user-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 20px 0px;
}
.create-btn-container{
    display: flex;
    justify-content: end;
}
.user-table {
    width: 100%;
    text-align: left;
    padding: 10px 14px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow-x: auto;
}

.user-table th {
    padding: 10px 10px 10px 20px;
    background-color: #fcaf3b;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.user-table tbody tr {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.user-table tbody td {
    vertical-align: middle;
    padding: 10px 0px 0px 20px;
}

.create-btn{
    background-color: green;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;

}
.pagination-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    height: 100px;
}

.pagination-btn{
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-active-page{
    color : #fcaf3b;
}
.action-data, .action-data-head{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.user-detail-view-btn, .user-detail-delete-btn{
    background-color: transparent;
    color: #fcaf3b;;
    padding: 10px 16px;
    font-size: 14px;
   
}
.user-detail-delete-btn{
    color: red;;
    text-align: center;
    cursor : pointer;
   
}

/* Media Query for Responsive Table */
@media screen and (max-width: 768px) {
    .user-table-container {
        overflow-x: scroll; /* Enable horizontal scrolling on smaller screens */
    }

    .user-table th, .user-table td {
        font-size: 12px; /* Reduce font size for better readability on smaller screens */
    }
}
