.user-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 20px 0px;
}

.user-table {
    width: 100%;
    text-align: left;
    padding: 10px 14px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow-x: auto;
}

.user-table th {
    padding: 10px 14px;
    background-color: #fcaf3b;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.user-table tbody tr {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.user-table tbody td {
    vertical-align: middle;
    padding: 14px 0px 14px 10px;
}

.create-btn{
    background-color: green;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;

}
.pagination-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    height: 100px;
}

.pagination-btn{
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-active-page{
    color : #fcaf3b;
}

.user-detail-view-btn{
    background-color: transparent;
    color: #fcaf3b;;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}